version: "3.9"

services:
  api:
    build: ./api
    links:
      - queue:queue
    ports:
      - "8000:8000"

  queue:
    build: ./queue
    ports:
      - "15672:15672"
      - "5672:5672"

  resizer:
    build: ./resizer
    links:
      - queue:queue
      - api:api